<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="registro-content">

  <form [formGroup]="form">

  <!-- TELÉFONO (solo si NO usa correo) -->
  <ion-item *ngIf="!usarCorreo">
    <ion-label position="stacked">Número de teléfono</ion-label>
    <ion-input
      placeholder="Ej. +52 6561234567"
      formControlName="telefono"
      inputmode="tel">
    </ion-input>
  </ion-item>

  <!-- Mensaje WhatsApp -->
  <p class="mensaje-whatsapp"
    *ngIf="form.get('telefono')?.valid && !usarCorreo">
    Te enviaremos un código por WhatsApp para validar tu número.
  </p>

  <!-- CHECK -->
  <ion-item lines="none">
    <ion-checkbox slot="start" formControlName="usarCorreo"></ion-checkbox>
    <ion-label>No tengo número de teléfono</ion-label>
  </ion-item>

  <!-- CORREO (solo si usa correo) -->
  <ion-item *ngIf="usarCorreo">
    <ion-label position="stacked">Correo electrónico</ion-label>
    <ion-input
      placeholder="Ej. correo@dominio.com"
      formControlName="correo"
      inputmode="email">
    </ion-input>
  </ion-item>

  <div style="height: 20px;"></div>

  <ion-button
    expand="block"
    color="primary"
    [disabled]="!formularioValido"
    (click)="continuar()">

    CONTINUAR

  </ion-button>

</form>

</ion-content>