.section {
  margin-top: 20px;
}

.label {
  font-weight: 500;
  margin-bottom: 6px;
}

.input-box {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding-left: 12px;
  height: 45px;
  display: flex;
  align-items: center;
}

.btn-center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.spacer {
  height: 60px;
}

.small-info {
  font-size: 14px;
  margin-bottom: 12px;
}

.registro-content {
  padding: 16px;
}

.mensaje-whatsapp {
  margin: 6px 0 12px 4px;
  font-size: 13px;
  color: #1c7c24;
}
