<ion-header>
  <ion-toolbar class="headerColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/icons/network.png" alt="Icono Network" style="width: 20px; height: 20px; margin-right: 8px; vertical-align: middle;" />
      Mi Network</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contentCustom">
  <!-- Info Empresa -->
  <ion-card>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="4" size-md="3" class="ion-text-center">
          <img [src]="logoEmpresa" alt="Imagen" style="width: 128px;" />
        </ion-col>
    
        <ion-col size="8" size-md="9">
          <h2>{{nombreComercial}}</h2>
          <p class="descripcion-desktop">{{descripcionEmpresa}}</p>
    
          
        </ion-col>
      </ion-row>

    </ion-grid>
    
   

  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <p><strong>Productos y promociones vigentes</strong></p>
        <app-loader *ngIf="cargandoPromociones"></app-loader>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="4" size-xl="4" *ngFor="let promocion of promociones">
        <ion-card  class="ion-card-embassy">
          <app-producto [promocion]="promocion"></app-producto>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>