<ion-header>
  <ion-toolbar class="headerColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/icons/network.png" alt="Icono Network"
        style="width: 20px; height: 20px; margin-right: 8px; vertical-align: middle;" />
      Mis productos y promociones
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="contentCustom ion-padding">
  
  <!--grid promociones -->
  <p><strong>Productos y promociones vigentes</strong></p>
  <p><small>¡Manténte al día con las promociones más recientes y obten las mejores comisiones!</small></p>

  <app-loader *ngIf="cargandoPromociones"></app-loader>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="4" size-xl="4" *ngFor="let promocion of promociones">
        <ion-card (click)="abrirModalPromocion(promocion)" class="ion-card-embassy">
          <div style="padding: 16px;">

            <!-- Título y empresa -->
            <div style="margin-bottom: 8px;">
              <h2 style="margin: 0; font-size: 1.5em;">{{promocion.nombre}}</h2>
              <span style="font-size: 0.9em; color: #666;">{{promocion.empresaNombre}}</span>
            </div>

            <!-- Descripción -->
            <p style="margin: 0 0 12px 0; font-size: 1em; color: #444;">
              {{promocion.descripcion}}
            </p>

            <!-- Comisión alineada a la derecha -->
            <div style="text-align: right;">
              <small style="font-size: 0.9em; color: #666;">Comisión</small><br />
              <span style="font-size: 1.5em; font-weight: bold; color: #007b00;">
                {{promocion.comision}}
              </span>
            </div>

          </div>
        </ion-card>



      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button class="fab-rectangular" (click)="abrirModalAgregarPromocion()">
      <img [src]="'assets/icons/add.png'" alt="Icono Network" style="width: 20px; height: 20px; margin-right: 8px;  vertical-align: middle;" />
      <span class="fab-text">Agregar</span>
    </ion-button>
  </ion-fab>