.codigo-content {
  padding: 20px;
}

.titulo {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

.dato {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.texto-pequeño {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #444;
}