.input {
    margin: 12px 0;
    --background: #f1f1f1;
    --border-radius: 30px;
    --padding-start: 16px;
    --padding-end: 16px;
    width: 100%;
    color: #2c3e50 !important;

    border: 1px solid transparent;
    border-radius: 30px;
    border-color: black;
    transition: border-color 0.3s ease;
}

.input.invalid {
    border-color: var(--ion-color-danger, red);
}