<ion-content class="page" fullscreen>
  <div class="center-wrapper">

    <div class="card" [formGroup]="passwordResetForm">
      <img src="assets/logo_transparente.png" alt="Logo" class="logo" />
      <h2 class="form-title">{{title}}</h2>

      @if (hasError) {
      <div class="ion-padding custom-alert warning">
        <ion-text> {{ messageError }}</ion-text>
      </div>
      }

      <div *ngIf="!correoEnviado" style="width: 100%;">
        <ion-input class="embassy_input" [class.invalid]="getControl('email')?.invalid && getControl('email')?.touched"
          formControlName="email" placeholder="Usuario (Correo electrónico)" type="text"
          (ionBlur)="getControl('email')?.markAsTouched()"></ion-input>

        <ion-text color="danger" *ngIf="getControl('email')?.invalid && getControl('email')?.touched">
          Ingresa un email válido.
        </ion-text>
      </div>

      <div *ngIf="correoEnviado">
        <ion-text style="color: black;">
          Hemos enviado un mensaje de correo electrónico con instrucciones sobre cómo restablecer la contraseña a la
          dirección
          de correo electrónico que nos facilitó.
          ¿No encuentra el mensaje de correo electrónico? Compruebe su carpeta de correo no deseado.
        </ion-text>
      </div>

      <hr class = "spacer_embassy"/>
     

      <div *ngIf="!correoEnviado">
        <ion-button expand="block" shape="round" class="customButton" [disabled]="formEnviado" (click)="onSubmit()">RESTABLECER CONTRASEÑA</ion-button>
      </div>

      <hr class = "spacer_embassy"/>

      <div class="form-links">
        <a [routerLink]="'/login'">Regresar a inicio de sesión</a>
      </div>

    </div>
  </div>
</ion-content>