.input {
    margin: 12px 0;
    --background: #f1f1f1;
    --border-radius: 30px;
    --padding-start: 16px;
    --padding-end: 16px;
    width: 80%;
    color: #2c3e50 !important;

    border: 1px solid transparent;
    border-radius: 30px;
    border-color: black;
    transition: border-color 0.3s ease;
    text-align: left;
}

.referidosHeader {
    background-color: #272727;
}

.title {
    color: white;
}

.estatus-creado {
    color: #2c3e50;
    font-weight: bold;
}

.estatus-seguimiento {
    color: green;
    font-weight: bold;
}

.estatus-cerrado {
    color: red;
    font-weight: bold;
}

.estatus-other {
    color: gray;
}
.fechaLabel{
    font-size: 8px;
}

/** pseudo fab ***/

.fab-rectangular {
    --border-radius: 20px;
    --background: #1a9953;
    --color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 24px;
    height: 48px;
    //box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
  }
  
  .fab-text {
    font-size: 16px;
    letter-spacing: 0.5px;
  }