
.itemReferencia{
  padding-top: 8px;
  padding-bottom: 4px;
  user-select: none;
}

.referidosHeader {
    background-color: #272727;
}

.title {
    color: white;
}

.estatus-creado {
    color: #2c3e50;
    font-weight: bold;
}

.estatus-seguimiento {
    color: green;
    font-weight: bold;
}

.estatus-cerrado {
    color: red;
    font-weight: bold;
}

.estatus-other {
    color: gray;
}
.fechaLabel{
    font-size: 8px;
}

/** pseudo fab ***/

.fab-rectangular {
    --border-radius: 20px;
    --background: #1a9953;
    --color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 24px;
    height: 48px;
    //box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
  }
  
  .fab-text {
    font-size: 16px;
    letter-spacing: 0.5px;
  }

/* chat*/

.referido-card {
    display: flex;
    flex-direction: column;
    
    gap: 4px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease;
  }


  /* === Sección 1: Identidad === */
  .referido-identidad {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .referido-nombre {
    font-size: 1.2rem;
    font-weight: 800;
    color: #272727;
  }
  
  .referido-contacto span {
    font-size: .8rem;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    color:#666; /* espacio entre el ícono y el texto */
  }
  
  .referido-contacto ion-icon {
    font-size: 1em; /* o ajusta según sea necesario */
  }
  
  .referido-fecha {
    font-size: 0.8rem;
    color: #777;
  }
  
  .referido-fecha .label {
    font-weight: 600;
    color: #999;
  }
  
  /* === Sección 2: Producto y empresa === */
  .referido-producto {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .producto-nombre {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
  }
  
  .empresa-nombre {
    font-size: 0.8rem;
    color: #777;
  }
  
  /* === Sección 3: Comisión === */
  .referido-comision {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 8px;
  }
  
  .referido-comision .label {
    font-size: 0.5rem;
    color: #888;
    margin-bottom: 2px;
  }
  
  .referido-comision .monto {
    font-size: 1rem;
    font-weight: 900;
    color: #ffffff;
    background-color: #349721;
    padding: 6px 14px;
    border-radius: 8px;
  }

  .referido-comision .monto-pendiente {
    font-size: 1rem;
    font-weight: 900;
    color: #ffffff;
    background-color: #748299;
    padding: 6px 14px;
    border-radius: 8px;
  }
  
  
  

/* Distribución en pantallas pequeñas (mobile) 




/* ANIMACION DLE DINEROS */

.jump {
  animation: jumpEffect 0.4s ease-out;
}

@keyframes jumpEffect {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
