<ion-header>
  <ion-toolbar class="headerColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <span class="title-wrap">
        <img class="title-icon" src="assets/icons/network.png" alt="Icono Network" />
        <span>Mi Network</span>
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contentCustom">
    <app-resumen
    [MostrarIngresos]="true"
    [MostrarInvitados]="false"
    [MostrarAceptados]="false">
  </app-resumen>

  <!-- Empresas -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <p><strong>Empresas en tu Network</strong></p>
        <p><small>Promocionas los productos y servicios de las siguientes empresas</small></p>
        <app-loader *ngIf="cargandoEmpresas"></app-loader>
      </ion-col>
    </ion-row>

    <!-- EMPRESAS -->
    <ion-row>
      <ion-col
        size="4" size-sm="3" size-md="3" size-lg="3" size-xl="2"
        *ngFor="let item of empresas">
        <ion-card
          class="ion-card-embassy"
          [class.activa]="item.id === empresaActualId"
          (click)="seleccionarEmpresa(item)">
          <div class="img-box">
            <img [src]="item.logotipoBase64" alt="Imagen" />
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Promociones / Productos -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <p><strong>Productos y promociones vigentes</strong></p>
        <p><small>¡Mantente al día con las promociones más recientes y obtén las mejores comisiones!</small></p>
        <app-loader *ngIf="cargandoPromociones"></app-loader>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!cargandoPromociones && promociones?.length === 0">
      <ion-col size="12" class="ion-text-center">
        <small>No hay productos/promociones vigentes para esta empresa.</small>
      </ion-col>
    </ion-row>

    <!-- PROMOCIONES / PRODUCTOS -->
    <ion-row>
      <ion-col
        size="12" size-sm="6" size-md="4" size-lg="4" size-xl="4"
        *ngFor="let promocion of promociones">
        <ion-card class="ion-card-embassy">
          <app-producto
            [promocion]="promocion"
            (addClicked)="abrirModalAgregar(promocion)"
            (qrClicked)="abrirModalPromocion(promocion)">
          </app-producto>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>