.img-effect {
    overflow: hidden;
    padding:8px;
  }
  
  .img-effect img {
    transition: transform 0.5s ease;
    width: 256px !important;
  }
  
  .img-effect:hover img {
    transform: scale(1.02);
  }

  .ion-card-embassy{
    user-select: none;
    border: 1px solid #ffffff00;
  }

  .ion-card-embassy:hover{
    transition: 0.1s;
    border: 1px solid #111822b4;
  }