<ion-header >
  <ion-toolbar class="headerColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/icons/network.png" alt="Icono Network" style="width: 20px; height: 20px; margin-right: 8px; vertical-align: middle;" />
      Mi Network</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contentCustom ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="4" size-xl="2" *ngFor="let item of empresas">
        <ion-card>
          <div class="img-effect">
            <img  [src]="item.logotipoPath" alt="Imagen" />
          </div>
          
          <ion-card-content>
            <ion-item lines="none" class="button-item">
              <ion-button style="width: 100%;"  color="light" (click)="verMas(item)">Ver más</ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>