.img-effect {
    overflow: hidden;
    padding:8px;
  }
  
  .img-effect img {
    transition: transform 0.5s ease;
    width: 256px !important;
  }
  
  .img-effect:hover img {
    transform: scale(1.05);
  }

  .card_promocion{
    padding:8px;
  }