.form-title {
    color: #2c3e50;
    font-size: 20px;
    font-weight: bold;
}

ion-header {
    --padding-start: 0;
    --padding-end: 0;
}

ion-buttons[slot="end"] {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 2px;
}