

/* ANIMACION DLE DINEROS */

.jump {
    animation: jumpEffect 0.4s ease-out;
  }
  
  @keyframes jumpEffect {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-4px);
    }
    100% {
      transform: translateY(0);
    }
  }
  