<ion-content fullscreen class="login-page" force-overscroll="false" [class.kb-open]="tecladoVisible">
  <div class="login-container">
    <div class="login-background"></div>

    <!-- FORMULARIO -->
    <div class="login-form-wrapper">
      <div [formGroup]="loginForm" class="login-form">

        <!-- WRAPPER con altura reservada -->
        <div class="logo-wrap" [class.compact]="tecladoVisible">
          <img src="assets/logo_transparente.png" alt="Logo de Embassy" class="logo"/>
        </div>

        <h2 class="form-title" *ngIf="correoAlmacenado == ''">Bienvenido</h2>
        <h2 class="form-title" *ngIf="correoAlmacenado != ''">Hola, {{nombreAlmacenado}}</h2>

        <p class="subtitle" *ngIf="correoAlmacenado == ''">
          <small>Accede a tu cuenta para continuar</small>
        </p>

        <p class="subtitle" *ngIf="correoAlmacenado != ''">
          <small>Estás iniciando sesión como: <strong><br/>
            {{correoAlmacenado}}</strong></small>
                  </p>

        @if (hasError) {
          <div class="custom-alert warning">
            <ion-text>{{ messageError }}</ion-text>
          </div>
        }

        <ion-input
          formControlName="user"
          label-placement="floating"
          label="Correo electrónico"
          type="text"
          class="embassy_input"
          (ionBlur)="getControl('user')?.markAsTouched()">
        </ion-input>
        <!-- <ion-text color="danger" *ngIf="getControl('user')?.invalid && getControl('user')?.touched">
          Ingresa el correo electrónico con el cual te registraste
        </ion-text> -->
        

        
        <ion-input
          formControlName="password"
          label-placement="floating"
          label="Contraseña"
          type="password"
          class="embassy_input"
          (ionBlur)="getControl('password')?.markAsTouched()">
          <ion-input-password-toggle *ngIf="getControl('password')?.value" slot="end"></ion-input-password-toggle>
        </ion-input>
        <div  *ngIf ="!iniciandoSesion && correoAlmacenado == ''" >
          <ion-checkbox formControlName ="almacenarDatos" >Guardar datos de inicio de sesión</ion-checkbox>
        </div>

       
        <hr class = "spacer_embassy"/>
        <ion-progress-bar *ngIf ="iniciandoSesion"  type="indeterminate"></ion-progress-bar>
        <ion-button *ngIf ="!iniciandoSesion" expand="block" shape="round" [disabled]="formEnviado" (click)="onSubmit()">
          Ingresar
        </ion-button>
        <hr class = "spacer_embassy"/>

        <ion-button *ngIf ="!iniciandoSesion && correoAlmacenado != ''" expand="block" shape="round" (click)="borrarDatosAlmacenados()">
          <small>Iniciar sesión con otra cuenta</small>
        </ion-button>
        <hr class = "spacer_embassy"/>
        <div class="form-links" *ngIf ="!iniciandoSesion && correoAlmacenado == ''" >
          <a [routerLink]="'/password/recovery'">¿Olvidaste tu contraseña?</a>
        </div>
      </div>
    </div>
  </div>
</ion-content>
