.form-title{
    color: #2c3e50;
    font-size: 20px;
    font-weight: bold;
}

form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input {
    margin: 5px 0;
    --background: #f1f1f1;
    --border-radius: 30px;
    --padding-start: 16px;
    --padding-end: 5px;
    width: 100%;
    color: #2c3e50 !important;

    border: 1px solid transparent;
    border-radius: 30px;
    border-color: black;
    transition: border-color 0.3s ease;
}
.input.invalid {
    border-color: var(--ion-color-danger, red);
}
ion-header {
    --padding-start: 0;
    --padding-end: 0;
  }
  
  ion-buttons[slot="end"] {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 2px;
  }
