<div style="padding: 16px;">
  <div style="margin-bottom: 8px;">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <h2 style="margin: 0; font-size: 1.5em;">{{promocion!.nombre}}</h2>
          <span style="font-size: 0.9em; color: #666;">{{promocion!.empresaNombre}}</span>
        </ion-col>
        <ion-col size="2">
          <img style="width: 100%; border-radius: 4px; border:1px solid #eee;"
               [src]="promocion?.logotipoBase64" alt="Imagen" (error)="onImgError($event)" />
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p style="margin: 0 0 12px 0; font-size: 1em; color: #444;">
            {{promocion!.descripcion}}
          </p>
        </ion-col>
      </ion-row>

      <!-- NUEVO bloque referido -->
        <ion-row>
          <ion-col>
            <div class="referido-mini">
              <span class="referido-title">Referido</span>
              <button type="button" class="btn-mini" (click)="onAdd()">
                <img src="assets/icons/add.png" alt="+" class="btn-icon" />
                <span>Agregar</span>
              </button>
            </div>
          </ion-col>
        </ion-row>

      <ion-row>
        <ion-col>
          <div style="text-align: right;">
            <small style="font-size: 0.9em; color: #666;">Comisión</small><br />
            <ng-container *ngIf="tipo === 0; else pctTpl">
              <span style="font-size: 1.5em; font-weight: bold; color: #007b00;">
                {{ formatPlano(monto, moneda) }}
              </span>
            </ng-container>
            <ng-template #pctTpl>
              <span style="font-size: 1.5em; font-weight: bold; color: #007b00;">
                {{ pct | number:'1.0-2' }}%
              </span>
            </ng-template>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>