<div class="card-inner">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <h2 class="titulo">{{ promocion!.nombre }}</h2>
        <span class="empresa">{{ promocion!.empresaNombre }}</span>
      </ion-col>
      <ion-col size="2">
        <img class="logo"
             [src]="promocion?.logotipoBase64"
             alt="Logo"
             (error)="onImgError($event)" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p class="desc">
          {{ promocion!.descripcion }}
        </p>
      </ion-col>
    </ion-row>

    <!-- Barra simple de acciones -->
    <ion-row>
      <ion-col>
        <div class="ref-row">
          <span class="ref-label">Referido</span>

          <div class="ref-actions">
            <button type="button"
                    class="btn btn-green"
                    (click)="$event.stopPropagation(); onAdd()">
              <img src="assets/icons/add.png" alt="" />
              <span>Agregar</span>
            </button>

            <button type="button"
                    class="btn btn-outline"
                    (click)="$event.stopPropagation(); onQr()">
              <img [src]="qrPlaceholder" alt="" />
              <span>Agregar</span>
            </button>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="comision">
          <small>Comisión</small><br />
          <ng-container *ngIf="tipo === 0; else pctTpl">
            <span class="valor">{{ formatPlano(monto, moneda) }}</span>
          </ng-container>
          <ng-template #pctTpl>
            <span class="valor">{{ pct | number:'1.0-2' }}%</span>
          </ng-template>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>