.custom-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .content-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  .motivational-text {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 500;
  }
  
  .form-title {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 600;
  }
  
  .input {
    margin-bottom: 10px;
    --padding-start: 12px;
    --padding-end: 12px;
  }
  
  ion-text {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .customButton {
    margin-top: 20px;
    --background: #3880ff;
    --color: white;
  }
  

/*invitaciones css*/

  .invitacion-exitosa {
    text-align: center;
    margin-top: 30px;
  }
  
  .mensaje-titulo {
    font-size: 22px;
    margin-top: 10px;
    color: #2dd36f;
  }
  
  .mensaje-detalle{
    font-size: 16px;
    margin-top: 10px;
    color: #333;
  }
  
  .invitacion-fallida {
    text-align: center;
    margin-top: 30px;
  }
  
  .invitacion-fallida .mensaje-titulo {
    font-size: 22px;
    margin-top: 10px;
    color: #eb445a; /* rojo */
  }
  
  .invitacion-fallida .mensaje-detalle {
    font-size: 16px;
    margin-top: 10px;
    color: #333;
  }
  