.blackhole-container {
  width: 100%;
  height: 64px;
  padding:4px;
  border-radius: 4px;
  border: 1px solid rgb(163, 163, 163);
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.4s ease-out;
  position: relative;
}

.blackhole-container.blackhole-effect {
  animation: blackholeSequence 2s forwards;
  background-color: rgb(163, 163, 163);
  border: 1px solid rgb(163, 163, 163);;
}

@keyframes blackholeSequence {
  0% {
    width: 100%;
    height: 64px;
    background-color: rgb(163, 163, 163);
  }
  25% {
    height: 10px; /* Y reduce */
    width: 100%;
    border-radius: 2px;
  }
  50% {
    margin:auto;
    width: 10px; /* X reduce */
    height: 10px;
    border-radius: 2px;
  }
  100% {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
  }
}

.blackhole-text {
  transition: opacity 0.2s;
}
