.userLabel {
    color: #ececec;
    font-weight: bold;
    font-size: 12px;
}

.top-padding{
    padding-top: 96px !important;
}

.fechaLabel {
    color: #001744;
    font-weight: bold;
    font-size: 12px;
}

ion-tab-bar {
  background-color: #111822; // fondo azul oscuro
  color: #ececec; // color de íconos/texto no activo

  --background: #111822;
  --color: #ececec;
  --color-selected: #ffffff; // ítem seleccionado

  border-top: 1px solid rgba(255, 255, 255, 0.1); // línea superior sutil
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3); // sombra superior
}

ion-tab-button {
  --ripple-color: #ffffff44;
  font-size: 12px;
}

ion-tab-button.ion-selected {
  color: #ffffff;
}



//--------------------


.buttonHeader {
    --color: #001744;
    font-weight: bold;
    font-size: 12px;
}

.menu-separator {
    height: 1px;
    background-color: white;
    margin: 10px 10px;
}

.logout-button-container {
    justify-content: center;
    margin: 0 10px;
}