.userLabel {
    color: #001744;
    font-weight: bold;
    font-size: 18px;
}

.fechaLabel {
    color: #001744;
    font-weight: bold;
    font-size: 12px;
}

.buttonHeader {
    --color: #001744;
    font-weight: bold;
    font-size: 12px;
}

.menu-separator {
    height: 1px;
    background-color: white;
    margin: 10px 10px;
}

.logout-button-container {
    justify-content: center;
    margin: 0 10px;
}