<ion-content>
  <ng-container *ngIf="!isMobile; else mobileTabs">
    <!-- Menú lateral para escritorio -->
    <ion-split-pane contentId="main-content">
      <ion-menu class="custom-menu" contentId="main-content" type="push">
        <ion-content>
          <ion-list id="inbox-list">

            <ion-item lines="none" detail="false" routerLinkActive="selected">
              <img src="assets/logo_white.png" style="margin-top: 48px;" alt="Logo" />
            </ion-item>

            @for (p of appPages; track p; let i = $index) {
              <ion-menu-toggle auto-hide="false">
                <ion-item routerDirection="root" [routerLink]="p.url" lines="none" detail="false"
                  routerLinkActive="selected">
                  <img [src]="'assets/icons/' + p.icon + '.png'" alt="Icono Network" style="width: 20px; height: 20px; margin-right: 8px; vertical-align: middle;" />
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            }

            <ion-menu-toggle auto-hide="false">
              <div class="logout-button-container">
                <ion-button expand="block" color="light" size="small" (click)="abrirModalQr()">
                  <ion-icon slot="start" name="qr-code-outline"></ion-icon>
                  Validar promoción
                </ion-button>
              </div>
            </ion-menu-toggle>

            <ion-item lines="none" detail="false" routerLinkActive="selected">
              <span class="userLabel">{{ userName }}</span>
            </ion-item>

            <ion-menu-toggle auto-hide="false">
              <div class="logout-button-container">
                <ion-button expand="block" color="light" size="small" (click)="logout()">
                  <ion-icon slot="start" name="power"></ion-icon>
                  Cerrar Sesión
                </ion-button>
              </div>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>

      <div class="ion-page" id="main-content">
        <ion-router-outlet></ion-router-outlet>
      </div>
    </ion-split-pane>
  </ng-container>

  <!-- Menú móvil -->
  <ng-template #mobileTabs>
    <ion-tabs>
      <ion-router-outlet></ion-router-outlet>

      <ion-tab-bar slot="bottom">
        @for (p of appPages; track p; let i = $index) {
          <ion-tab-button routerDirection="root" [routerLink]="p.url">
            <img [src]="'assets/icons/' + p.icon + '.png'" alt="Icono Network" style="width: 20px; height: 20px;  vertical-align: middle;" />
            <ion-label><small>{{ p.tituloMovil }}</small></ion-label>
          </ion-tab-button>
        }
      </ion-tab-bar>
    </ion-tabs>
  </ng-template>
</ion-content>
