.FeedBackValidaciones{
    text-align: center;
    width: 100%;
    border: 1px dashed #aaa;
    font-weight: bold;
    color: #75660d;
    padding:16px;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #f5f1b7;
}